prj/obj/*
prj/lst/*
*.bak
*.dep
*.User
lpcopen_2_06_keil_iar_manley_11u68/applications/*
lpcopen_2_06_keil_iar_manley_11u68/software/freertos/*
!\lpcopen_2_06_keil_iar_manley_11u68\applications\lpc11u6x\startup_code*